<mat-card-header>
	<mat-card-title>
		<h1 class="flex-box flex-align-center">
			<mat-icon aria-hidden="false" aria-label="User Login" class="mr-2">account_circle</mat-icon>Login
		</h1>
	</mat-card-title>
</mat-card-header>

<form [formGroup]="loginForm" mat-card-content>
	<div class="flex-box flex-column" (keyup.enter)="login()">
		<mat-form-field class="mt-1" appearance="outline">
			<mat-label>Email address</mat-label>
			<mat-icon matPrefix class="pr-1">email</mat-icon>
			<input matInput type="email" autocomplete="email" required Title="Email"
				formControlName="username">
			<mat-error *ngFor="let validation of validationMessages.email">
				<mat-error class="error-message"
					*ngIf="f.username.hasError(validation.type) && (f.username.dirty || f.username.touched)">
					<span [innerHTML]="validation.message"></span>
				</mat-error>
			</mat-error>
		</mat-form-field>
		<mat-form-field class="mt-1" appearance="outline">
			<mat-label>Password</mat-label>
			<mat-icon matPrefix class="pr-1">lock</mat-icon>
			<input matInput type="password" autocomplete="current-password" #passwordInput
				Title="Password" required formControlName="password">
			<mat-error *ngFor="let validation of validationMessages.password">
				<mat-error class="error-message"
					*ngIf="f.password.hasError(validation.type) && (f.password.dirty || f.password.touched)">
					<span [innerHTML]="validation.message"></span>
				</mat-error>
			</mat-error>
		</mat-form-field>
	</div>
	<div class="flex-box flex-justify-space-between flex-align-center mt-2">
		<mat-checkbox aria-label="Remember Me" formControlName="remember" (change)="rememberChange($event)">
			Remember Me</mat-checkbox>
		<button mat-flat-button type="button" aria-label="Need an email password reminder?"
			routerLink="/account/forgot-password">Forgot password?</button>
	</div>
	<div class="mt-4 mb-4 flex-box flex-column">
		<app-save-button [dirty]="loginForm.dirty" color="accent" [valid]="loginForm.valid" [isSaving]="isSubmitting"
			label="Login" iconName="chevron_right" iconPosition="right" (save)="login()"></app-save-button>
		<!-- <button mat-flat-button type="button" (click)="login()" color="accent" aria-label="Login Button">Login</button> -->
		<div class="pcb-divider">OR</div>
		<button mat-flat-button color="primary" class="w-100" type="button" (click)="googleSignIn()"
			aria-label="Sign in with Google button">
			<span class="flex-box flex-row flex-align-center">
				<!-- <svg-icon key="google" aria-label="Google Icon"></svg-icon> -->
				<img src="assets/svg/google.svg" class="svg-icon" title="Google Icon">
				<span class="flex-grow-1 flex-box flex-justify-center">Continue with Google</span>
			</span>
		</button>
	</div>
</form>

<mat-divider></mat-divider>
<mat-card-footer class="flex-box flex-row flex-align-center">
	<span class="pl-2">New to Provisioner's CookBook?</span>
	<button mat-flat-button type="button" routerLink="/account/register" aria-label="Sign up Button">Register
		now!</button>
</mat-card-footer>