<app-page-title></app-page-title>
<main class="pt-4 ml-2 flex-box flex-row" role="main">
	<app-site-logo></app-site-logo>
	<div  class="flex-box flex-grow-1 flex-column">
		<div class="login-boxes">
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="isLoggedIn">
			<button  mat-flat-button color="accent" class="mr-2" routerLink="/savoury/recipes/browse" aria-label="Discover">Discover Recipes</button>
			<button  mat-flat-button color="primary" (click)="logUserOut()" aria-label="Log out">
				<span>Log Out</span>
				<mat-icon>all_out</mat-icon>
			</button>
		</div>

	</div> 
</main>
