.schedule {
  margin-bottom: 3rem;
  &--date-picker {
    width: 50%;
    min-width: 12rem;
  }
  &-item {
    min-width: 9rem;
    padding: 0 0.75rem 1rem;
    &--day {
      width: 100%;
      color: var(--darker-accent);
      border-top: 0.1875rem solid var(--accent-foreground);
      border-bottom: 0.1875rem solid var(--accent-foreground);
      border-radius: 0.1875rem;
      margin: 0.75rem 0;
      padding: 0.5rem 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: capitalize;
    }
    &--date {
      color: var(--muted-text);
      text-align: center;
    }
    &--slot {
      margin: 1.25rem 0 0;
      display: flex;
      color: var(--accent-foreground);
      font-weight: 700;
      justify-content: space-between;
      align-items: center;
      .nav-fab {
        border-radius: 50%;
        background-color: var(--accent-foreground);
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-on-accent);
        border: none;
        padding: 0;
      }
    }
    .recipe-item {
      &--actions {
        gap: 0.25rem;
        margin: 0.25rem 0;
        &__delete {
          &:hover {
            color: var(--burnt-orange);
          }
        }
      }
    }
    .add-more--button {
      width: fit-content;
      margin: 0.25rem auto 0.75rem;
    }
  }
  &--modal {
    &__quantity {
      max-width: 6rem;
    }
    &__recipe {
      flex-grow: 1;
    }
  }
}
