<app-page-title></app-page-title>
<div class="flex-box flex-justify-space-between mt-2 mb-2">What ingredient do you want to know more about?</div>

@if (refData) {
  @if (data$ | async; as data) {
    <app-ingredient-filter></app-ingredient-filter>
    <app-ingredient-table
      [data]="data"
      [filter]="filterObject"
      (sortingPageChange)="sortPageChange($event)"
      (editRow)="createOrEdit('edit', $event)"
    >
    </app-ingredient-table>
  } @else {
    <div class="loading-wrapper">
      <app-loading-indicator></app-loading-indicator>
    </div>
  }
}
