@use '../../../styles/mixins.scss';

article {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.mat-list-item {
  height: auto !important;
}

.top-section {
  display: flex;
  flex-flow: column-reverse;
  @include mixins.breakpoint(md) {
    flex-flow: row;
  }
  .description-ingredients,
  .image-stats {
    @include mixins.breakpoint(md) {
      width: 49%;
    }
    .ratings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .icon-text {
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }
  }
  // .image-stats {

  // }
}
.ingredient-list {
	list-style: circle;
}

.w- {
  &50 {
    width: 49%;
  }
  &full {
    width: 100%;
  }
  &7 {
    min-width: 5em;
  }
  &40 {
    width: 39%;
  }
}

.recipe-descriptions > * {
  padding-right: 1em;
}

img.w-full {
  border-radius: 0.5rem;
  // padding: 4px;
  // border: 1px solid #333;
}
