@if (!!selectedRecipe) {
  <article>
    <h2 class="print-only">{{ selectedRecipe.name }}</h2>
    <!-- Additional details -->
    <mat-chip-listbox class="mt-2 mb-2">
      @for (tag of selectedRecipe.dishType; track tag) {
        <mat-chip>{{ tag | sentenceCase }}</mat-chip>
      }
    </mat-chip-listbox>
    <section class="top-section">
      <section class="description-ingredients">
        @if (selectedRecipe.shortSummary && selectedRecipe.shortSummary.length > 0) {
          <div>
            <h3>Description</h3>
            <blockquote>
              <p [innerHTML]="selectedRecipe.shortSummary | safeHtml"></p>
              <footer>
                <cite
                  ><a [href]="selectedRecipe.sourceUrl" [title]="selectedRecipe.creditsText">{{
                    selectedRecipe.creditsText
                  }}</a></cite
                >
              </footer>
            </blockquote>
          </div>
        }
        <div class="w-full mt-4">
          <h3>Ingredients</h3>
          <ul class="ingredient-list">
            @for (item of selectedRecipe.ingredientList; track item) {
              <li class="pb-1">
                <span class="mr-1"
                  >{{ item.amount | number: '1.0-0' }} {{ item.measure.shortName }}
                  {{ item.ingredient.name | sentenceCase }}
                </span>
                <!-- <span class="mr-1">{{item.unit}} -</span> -->
                <span
                  ><a [routerLink]="['/savoury/ingredients/item/' + item.id]">{{ item.ingredientId }}</a></span
                >
                <!-- <span *ngIf="item.allergies?.length">          
							<mat-icon class="text-warning">warning</mat-icon>
						</span> -->
              </li>
            }
          </ul>
        </div>
      </section>
      <!-- Image and favourites  -->
      <section class="image-stats">
        <img
          *ngIf="!!selectedRecipe.images.length"
          [src]="selectedRecipe.images[0]"
          [alt]="selectedRecipe.name"
          class="w-full"
        />
        <div class="ratings">
          <app-icon-text
            icon="favorite"
            [text]="'Health rating ' + selectedRecipe.healthScore + '/100'"
            titleText="Health rating"
          ></app-icon-text>
          <app-icon-text
            icon="favorite"
            [iconLeft]="false"
            [text]="selectedRecipe.aggregateLikes + ' Favourites'"
            titleText="Favourites"
          ></app-icon-text>
        </div>
        <div class="ratings">
          <app-icon-text
            icon="people_outline"
            [text]="selectedRecipe.servings + ' serving(s)'"
            titleText="Number Servings"
          ></app-icon-text>
          <span class="icon-text">
            @if (selectedRecipe.preparationMinutes > 0) {
              <span class="pr-1">Prep: {{ selectedRecipe.preparationMinutes || 0 }} min</span>
            }
            @if (selectedRecipe.cookingMinutes > 0) {
              <span class="pr-1">Cook {{ selectedRecipe.cookingMinutes || 0 }} min</span>
            }
            <span>Ready in: {{ selectedRecipe.readyInMinutes || 0 }} min</span>
            <mat-icon class="ml-1">timer</mat-icon>
          </span>
          <!-- <ng-template *ngIf="selectedRecipe.allergyWarnings?.length">
					<span *ngFor="let allergy of selectedRecipe.allergyWarnings">
						{{allergy}}
					</span>
				</ng-template>  -->
          <!-- Todo - add print functionality -->
          <!-- <div>
					<button mat-icon-button type="button" aria-label="Print" (click)="printView()"><mat-icon>print</mat-icon></button>
				</div> -->
        </div>
        <mat-chip-listbox class="mt-2">
          @for (item of selectedRecipe.healthLabels; track item) {
            <mat-chip>{{ item | sentenceCase }}</mat-chip>
          }
        </mat-chip-listbox>
      </section>
    </section>

    <!-- Allergy Alerts -->

    <!-- Equipment Required -->
    <div class="mt-2">
      <h3>Equipment Required</h3>
      <mat-chip-listbox aria-label="Equipment Required">
        @for (item of selectedRecipe.equipment; track item) {
          <mat-chip>{{ item.name | sentenceCase }}</mat-chip>
        }
      </mat-chip-listbox>
    </div>
    <section class="flex-box flex-column">
      <div>
        <h3 class="mt-4">How to Make</h3>
        @if (selectedRecipe.steppedInstructions) {
          <mat-list>
            @for (item of selectedRecipe.steppedInstructions; track item) {
              <mat-list-item>
                <div class="flex-box flex-row p-1">
                  <span class="text-small text-muted mr-2 w-7 align-self-center">Step {{ item.stepNumber }}</span>
                  <span [innerHTML]="item.step | safeHtml"></span>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          <div [innerHTML]="selectedRecipe.instructions"></div>
        }
      </div>
    </section>
    <!-- <h3>Nutrition</h3> -->
  </article>
}
