@use '../../styles/mixins.scss';

.container{
    margin: 20px;
    padding: 0 ;
  }

  .filter-side-bar {
    max-width: 250px;
  }
  .grid-parent {
	@include mixins.display-grid;
	@include mixins.flex-grow(1);
	@include mixins.breakpoint(xs) {
		@include mixins.grid-template-columns(repeat(1,100%));
	}
	@include mixins.breakpoint(sm) {
		@include mixins.grid-template-columns(repeat(2,49%));
	}
	@include mixins.breakpoint(md) {
		@include mixins.grid-template-columns(repeat(3,32%));
	}
	@include mixins.breakpoint(lg) {
		@include mixins.grid-template-columns(repeat(4,24%));
	}
  }