/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/
@use '@angular/material';
@use './mixins.scss';
@use './theme-colors' as pro-theme;

html {
  // @include mat.all-component-themes($theme);
  color-scheme: dark;
  font: 300 0.95rem/1.1875rem Roboto;
  letter-spacing: 0.0179em;
  @include material.theme(
    (
      color: (
        primary: pro-theme.$primary-palette,
        tertiary: pro-theme.$tertiary-palette
      ),
      bold-weight: 700,
      typography: Roboto,
      density: -2
    )
  );
  @media (prefers-contrast: more) {
    @include pro-theme.high-contrast-overrides(dark);
  }
}
// Theme Init

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-icon-button.mat-raised-button {
  background: var(--accent);
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 1.5rem;
  font-family: 'Material Icons Two Tone', 'Material Icons';
  line-height: 1;

  .mat-badge-content {
    font-family: 'Roboto';
  }

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.mat-icon-no-color {
  @include mixins.color-filter(invert(1));
}
.material-icons.accent {
  @include mixins.color-filter(
    brightness(0) saturate(100%) invert(88%) sepia(100%) saturate(2%) hue-rotate(78deg) brightness(102%) contrast(101%)
  );
}
.material-icons.color-on-primary {
  @include mixins.color-filter(invert(0));
}

a:link {
  color: var(--muted);
}

button {
  &.accent {
    @include material.button-overrides(
      (
        filled-container-color: var(--accent),
        filled-label-text-color: var(--text-on-accent)
      )
    );
    @include material.fab-overrides(
      (
        container-color: var(--accent),
        foreground-color: var(--text-on-accent)
      )
    );
  }
  &.primary {
    @include material.button-overrides(
      (
        filled-container-color: var(--primary),
        filled-label-text-color: var(--dark-background)
      )
    );
    @include material.fab-overrides(
      (
        container-color: var(--primary),
        foreground-color: var(--dark-background),
        small-container-color: var(--primary),
        small-foreground-color: var(--dark-background)
      )
    );
  }
}
