/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/
@use '@angular/material' as mat;
@use './mixins.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@import './variables.scss';

@include mat.elevation-classes();
@include mat.app-background();

$fontConfig: (
  display-4: mat.m2-define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat.m2-define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat.m2-define-typography-level(45px, 48px, 400, 'Roboto', 0em),
  display-1: mat.m2-define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat.m2-define-typography-level(28px, 36px, 400, 'Roboto', 0em),
  title: mat.m2-define-typography-level($title, $title * 1.3, 500, 'Roboto', 0.0075em),
  subheading-2: mat.m2-define-typography-level($subheading-2, $subheading-2 * 1.3, 400, 'Roboto', -0.0094em),
  subheading-1: mat.m2-define-typography-level($subheading-1, $subheading-1 * 1.3, 500, 'Roboto', 0.0067em),
  body-2: mat.m2-define-typography-level($body-2, $body-2 * 1.2, 400, 'Roboto', 0.0179em),
  body-1: mat.m2-define-typography-level($body-1, $body-1 * 1.25, 300, 'Roboto', 0.0179em),
  button: mat.m2-define-typography-level($button, $button * 1.2, 500, 'Roboto', 0.0893em),
  caption: mat.m2-define-typography-level($caption, $caption * 1.2, 400, 'Roboto', 0.0333em),
  input: mat.m2-define-typography-level($input, 1.125, 400, 'Roboto', 1.5px)
);

@include mat.all-component-typographies($fontConfig);

$mat-primary: (
  main: var(--primary),
  lighter: var(--primary-lighter),
  darker: var(--primary-darker),
  200: var(--primary),
  // For slide toggle,
  contrast: (
      main: var(--dark-text),
      lighter: var(--dark-text),
      darker: var(--text-on-accent)
    )
);
$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: var(--accent),
  lighter: var(--accent-lighter),
  darker: var(--accent-darker),
  200: var(--accent),
  // For slide toggle,
  contrast: (
      main: var(--text-on-accent),
      lighter: var(--dark-text),
      darker: var(--text-on-accent)
    )
);
$theme-accent: mat.m2-define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: var(--warn),
  lighter: var(--warn-lighter),
  darker: var(--warn-darker),
  200: var(--warn),
  // For slide toggle,
  contrast: (
      main: var(--text-on-success),
      lighter: var(--text-on-success),
      darker: var(--text-on-success)
    )
);
$theme-warn: mat.m2-define-palette($mat-warn, main, lighter, darker);
$theme: mat.m2-define-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat.m2-define-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include mat.all-component-themes($theme);

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-list-base .mat-list-item {
  font-size: $body-1;
}

.mat-icon-button.mat-raised-button {
  background: var(--accent);
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 1.5rem;
  font-family: 'Material Icons Two Tone', 'Material Icons';
  line-height: 1;

  .mat-badge-content {
    font-family: 'Roboto';
  }

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.mat-icon-no-color {
  @include mixins.color-filter(invert(1));
}
.material-icons.accent {
  @include mixins.color-filter(
    brightness(0) saturate(100%) invert(88%) sepia(100%) saturate(2%) hue-rotate(78deg) brightness(102%) contrast(101%)
  );
}
.material-icons.color-on-primary {
  @include mixins.color-filter(invert(0));
}

a:link {
  color: var(--muted);
}
