@use './styles/mixins.scss';

#root {
  --darker-accent: #003c25;
  --accent-foreground: #128758;
  --text-on-accent: #ffffff;
  --background-normal: #ebebeb;
  --text-on-normal: #070707;
  --muted-text: #6a6a6a;
  --menu-background: #ffffff;
  --alert-yellow: #f7bd29;
  --burnt-orange: #e6600b; // (some titles?)

  background-color: var(--background-normal);
  color: var(--text-on-normal);
  min-height: 100vh;
}
:root {
  --mantine-h1-font-size: calc(1.875rem* var(--mantine-scale)); //30px
  --mantine-h2-font-size: calc(1.5rem* var(--mantine-scale)); // 24px
  --mantine-h3-font-size: calc(1.25rem* var(--mantine-scale)); //20px
  --mantine-h4-font-size: calc(1rem* var(--mantine-scale)); //16px
  @include mixins.breakpoint(md) { // Default
    --mantine-h1-font-size: calc(2.125rem* var(--mantine-scale)); //34px
    --mantine-h2-font-size: calc(1.625rem* var(--mantine-scale)); //26px
    --mantine-h3-font-size: calc(1.375rem* var(--mantine-scale)); //22px
    --mantine-h4-font-size: calc(1.125rem* var(--mantine-scale)); //18
  }
  @include mixins.breakpoint(lg) {
    --mantine-h1-font-size: calc(2.5rem* var(--mantine-scale)); //40px
    --mantine-h2-font-size: calc(1.875rem* var(--mantine-scale)); //30px
    --mantine-h3-font-size: calc(1.625rem* var(--mantine-scale)); //26px
    --mantine-h4-font-size: calc(1.375rem* var(--mantine-scale)); //22px
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

section.main-content {
  padding: 1rem;
  padding-bottom: 5rem;
}
.text-muted {
  color: var(--muted-text);
}
