<mat-card-header>
	<mat-card-title>
		<h2 class="flex-box"><mat-icon aria-hidden="false" aria-label="Forgot Password" class="mr-2">memory</mat-icon>Forgot Password</h2>
	</mat-card-title>
</mat-card-header>
<div [ngSwitch]="showLookInYourEmail">
	<form *ngSwitchDefault [formGroup]="form" mat-card-content>
		<mat-form-field class="mt-1 w-100" >
			<mat-icon matPrefix class="pr-1">email</mat-icon>
			<input matInput type="email" placeholder="Email *" Title="Email"  (keyup.enter)="forgotPassword()" formControlName="email">
			<mat-error *ngFor="let validation of validationMessages.email">
				<mat-error class="error-message" *ngIf="f.email.hasError(validation.type) && (f.email.dirty || f.email.touched)">
					<span [innerHTML]="validation.message"></span>
				</mat-error>
			  </mat-error>
		</mat-form-field>
		<div class="flex-box flex-justify-end mt-4">
			<button mat-flat-button type="button" class="mr-1" aria-label="Cancel" routerLink="/account/login">Cancel</button>
			<app-save-button [dirty]="form.dirty" [valid]="form.valid" [isSaving]="isSubmitting" label="Submit" (save)="forgotPassword()"></app-save-button>
		</div>
	</form>
	<div *ngSwitchCase="true">
		Please check your email or your spam folder for a password reset link.
	</div>
</div>
