<style type="text/css">
    body, html {
        font-family:arial,sans-serif,helvetica;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        width: 100% !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
</style>

<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p style="padding-top: 1rem;">If you did not request this email you can safely ignore it.</p>


<p style="font-size:11px;color:#AAAAAA;margin-bottom:4px;">This email address was given to us by you or by one of our customers. If you feel that you have received this email in error, please send an email to: <a href:"mailto:ianoxwell@gmail.com">Ian</a></a></p>
<p style="font-size:11px;color:#AAAAAA;margin-top:4px;">This email is sent in accordance with the US CAN-SPAM Law in effect 01/01/2004. Removal requests can be sent to this address and will be honored and respected.</p>