@use '../../styles/mixins.scss';

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: unset;
  background-color: var(--default-background);
  @include mixins.breakpoint(md) {
    flex-direction: row;
    height: var(--mat-toolbar-standard-height, 64px);
  }
  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  button {
    border-radius: 0;
    height: 3.5rem;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    mat-icon {
      padding-right: 0.2em;
    }
    &.active-link {
      border-bottom-style: solid;
      border-bottom-color: var(--accent);
    }
    @include mixins.breakpoint(md) {
    height: 4.4em;

    }
  }
  .app-title {
    height: 3.5rem;
    display: flex;
    align-items: center;
  }
}


.accent-button {
  margin-top: -0.5em;
}

.picture-in-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: -2px;
}
