article {
  padding: 1rem;
  .title-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
      min-width: unset;
      mat-icon {
        margin: 0;
      }
    }
    h1 {
      text-align: center;
      width: 100%;
    }
  }
  .ingredient-image {
    text-align: center;
    img {
      height: 20rem;
      width: 20rem;
      object-fit: contain;
      // margin: 1.5rem 0;
    }
  }
  .nutrition-facts {
    width: 22rem;
    padding: 1rem;
    border: 2px solid var(--primary-lighter);
    border-radius: 0.25rem;
    margin: 0 auto 2.5rem;
    &--row {
      display: flex;
      justify-content: space-between;
      h3 {
        margin: 0.25rem 0;
      }
      &.indent {
        margin-left: 2rem;
      }
      .text-bold {
        font-weight: 700;
      }
    }
    &--divider {
      width: 100%;
      border-top: solid 1px var(--text-on-success);
      margin: 0.5rem 0;
      &.thick {
        border-top-width: 3px;
        margin: 1rem 0;
      }
    }
  }
}
