<mat-card class="recipe-card" appearance="outlined">
  <div class="relative-position">
    @if (!!recipeInput.images && recipeInput.images.length > 0) {
      <img [src]="recipeInput.images[0]" [alt]="recipeInput.name" />
    }
  </div>

  <div class="card-contents">
    <div class="time-servings">
      <span> <mat-icon class="mr-1">timer</mat-icon> {{ recipeInput.readyInMinutes }} min </span>
      <span title="Number of Servings">
        <mat-icon class="mr-1">people_outline</mat-icon>serves {{ recipeInput.servings }}
      </span>
    </div>
    <h2 class="recipe-title" [title]="recipeInput.name">{{ recipeInput.name }}</h2>
    <p [innerHtml]="recipeInput.shortSummary | safeHtml" class="recipe-description"></p>
    <button mat-stroked-button type="button" aria-label="View Recipe" (click)="selectThisRecipe()">View recipe</button>
  </div>
</mat-card>
