form {
  max-width: 100%;
  padding: 0 0 0 1rem;
}
.refine-text {
  font-weight: 400;
  font-size: 1rem;
}
.refines-section {
  mat-form-field {
    margin-bottom: 1rem;
  }
}

mat-form-field,
mat-toolbar {
  width: 100%;
}

mat-toolbar {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sort-and-order {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.rotated-icon {
  transform: rotate(180deg);
}
.filter-button-group {
  display: flex;
  gap: 1rem;
  button {
    width: 50%;
  }
}
