@if (searchForm) {
  <form [formGroup]="searchForm">
    <mat-form-field appearance="outline">
      <mat-label>Keyword search</mat-label>
      <input matInput type="text" placeholder="Name" Title="Name" formControlName="keyword" />
    </mat-form-field>

    <!-- Order/sort by -->
    <div class="sort-and-order">
      <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>
        <mat-select formControlName="sort">
          @for (item of sortBy; track item) {
            <mat-option [value]="item.value">
              {{ item.label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button type="button" class="primary" mat-mini-fab (click)="toggleSortOrder()" aria-label="Sort order">
        <mat-icon [ngClass]="{ 'rotated-icon': searchOrder.getRawValue() === eOrder.ASC }">sort</mat-icon>
      </button>
    </div>

    <div>&nbsp;</div>
    <div class="filter-button-group">
      <button mat-stroked-button type="button" aria-label="Clear filter terms" (click)="clearFilterTerms()">
        <span>Clear all</span>
      </button>
      <button mat-flat-button type="button" class="accent" aria-label="Apply filter" (click)="applyFilter()">
        <span>Apply</span>
      </button>
    </div>
  </form>
}
