form {
  max-width: 100%;
  padding: 0 0 0 1rem;
}
.refine-text {
  font-weight: 400;
  font-size: 1rem;
}
.refines-section {
  mat-form-field {
    margin-bottom: 1rem;
  }
}
.clear-all-text {
  font-weight: 200;
  font-size: 0.7rem;
}

mat-form-field,
mat-toolbar {
  width: 100%;
}

mat-toolbar {
  justify-content: space-between;
  margin-bottom: 1rem;
}
