@use '../../styles/mixins.scss';

.save-button {
	min-width: 7em;
	min-height: 36px;
	width: 100%;
	.save-logo {
		@include mixins.flex-box;
		@include mixins.align-items(center);
		@include mixins.justify-content(center);
	}
}
.inner-spinner {
	@include mixins.flex-box;
	@include mixins.justify-content(center);
}