<div class="responsive-table">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="filter().sort || 'name'"
    matSortDisableClear
    [matSortDirection]="sortDirection"
    aria-label="Ingredients"
    (matSortChange)="onSortChange($event)"
  >
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name | sentenceCase }}</td>
    </ng-container>

    <ng-container matColumnDef="aisle">
      <th mat-header-cell *matHeaderCellDef>Aisle</th>
      <td mat-cell *matCellDef="let row">{{ row.aisle }}</td>
    </ng-container>

    <!-- carbs Column -->
    <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbs</th>
      <td mat-cell *matCellDef="let row">{{ row.nutrition.caloricBreakdown.percentCarbs }}%</td>
    </ng-container>

    <!-- fats Column -->
    <ng-container matColumnDef="fats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fats</th>
      <td mat-cell *matCellDef="let row">{{ row.nutrition.caloricBreakdown.percentFat }}%</td>
    </ng-container>

    <!-- protein Column -->
    <ng-container matColumnDef="proteins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proteins</th>
      <td mat-cell *matCellDef="let row">{{ row.nutrition.caloricBreakdown.percentProtein }}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ highlight: row.mouseRow }"
      (click)="goto(row)"
      (mouseover)="mouseRow(row, 'over')"
      (mouseout)="mouseRow(row, 'out')"
    ></tr>
  </table>

  <div class="paginator-container">
    <app-paginator
      (page)="onPageChange($event)"
      [length]="data.meta.itemCount"
      [count]="dataSource.data.length"
      [pageSize]="data.meta.take"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      [pageIndex]="data.meta.page"
    >
    </app-paginator>
  </div>
</div>
