<mat-card-header>
	<mat-card-title>
		<h1 class="flex-box">
			<mat-icon aria-hidden="false" aria-label="Forgot Password" class="mr-2">security icon</mat-icon>Reset Password
		</h1>
	</mat-card-title>
</mat-card-header>

<div [ngSwitch]="currentTokenStatus | async" mat-card-content>
	<div *ngSwitchCase="TokenStatus.Validating">
		Validating token...
	</div>
	<div *ngSwitchCase="TokenStatus.Invalid" class="flex-box flex-column">
		<span>Token validation failed, you can get a new reset token at </span>
		<button mat-flat-button class="mt-2 mb-2" color="accent" aria-label="Navigate to forgot password" type="button"
				routerLink="/account/forgot-password">Forgot Password</button>
	</div>

	<form *ngSwitchCase="TokenStatus.Valid" [formGroup]="form">
		<div class="flex-box flex-column">
			<mat-form-field class="mt-1">
				<mat-icon matPrefix class="pr-1">lock</mat-icon>
				<input matInput type="password" placeholder="Password *" Title="Password" (keyup.enter)="resetPassword()"
					   formControlName="password">
				<mat-error *ngFor="let validation of validationMessages.password">
					<mat-error class="error-message"
							   *ngIf="fPassword.hasError(validation.type) && (fPassword.dirty || fPassword.touched)">
						<span [innerHTML]="validation.message"></span>
					</mat-error>
				</mat-error>
			</mat-form-field>
			<div class="flex-box flex-justify-end mt-2">
				<button mat-flat-button type="button" aria-label="Cancel" routerLink="/account/login">Cancel</button>
				<app-save-button [dirty]="form.dirty" [valid]="form.valid" [isSaving]="isSubmitting" label="Reset Password"
								 (save)="resetPassword()"></app-save-button>
			</div>
		</div>
	</form>
	<div *ngSwitchDefault>
		Oops you need to confirm a token to reset a password this way.
	</div>
</div>
