.logo-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .logo-title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-title-splash {
      display: flex;
      flex-direction: column;
      width: 6em;
      height: 6em;
      .width-20 {
        width: 30%;
      }

      .width-50 {
        width: 50%;
      }
      .flex-grow {
        flex-grow: 1;
      }
      .flex-grow {
        flex-grow: 1;
      }
      div {
        height: 1.4em;
        width: 100%;
        display: flex;
        margin-bottom: 0.2em;
        > span {
          margin-right: 0.2em;
        }
      }
    }
    .logo-title {
      display: flex;
      flex-direction: row;
      padding-top: 0.25rem;
      .text-pro {
        color: var(--primary-lighter);
        transform: rotate(-90deg);
        font-size: 1.7em;
      }
      .text-vision {
        color: var(--primary);
        font-size: 3em;
        font-weight: bold;
      }
    }
    .text-cook {
      color: var(--primary-lighter);
      font-size: 2.4em;
      margin-left: 0.2em;
      margin-top: 0.75em;
    }
  }
  .sub-tag-line {
    margin-top: 0.5rem;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1.375rem;
      }
    }
    li:first-child {
      list-style: none;
    }
  }
}

.color- {
  height: 1em;
  &1 {
    background-color: var(--accent);
  }
  &2 {
    background-color: var(--primary-lighter);
  }
  &3 {
    background-color: var(--primary-darker);
  }
}
