<div class="logo-container flex-box flex-column" routerLink="/account/login">
	<div class="flex-box flex-row">
	  <div class="logo flex-box flex-column">
		<div>
		  <span class="color-1 width-20"></span>
		  <span class="color-2 flex-grow"></span>
		</div>
		<div>
		  <span class="color-3 width-50"></span>
		  <span class="color-1 flex-grow"></span>
		</div>
		<div>
		  <span class="color-2 flex-grow"></span>
		</div>
		<div>
		  <span class="color-1 flex-grow"></span>
		  <span class="color-3 width-20"></span>
		</div>
	  </div>
	  <div >
		<div class="flex-box flex-row pt-1">
		  <span class="text-pro">Pro</span>
		  <span class="text-vision">Vision</span>
		</div>
		<div class="text-cook">
		  Cookbook
		</div>
	  </div>
	</div>
	<div class="sub-tag-line">
	  <ul>
		<li>Discover</li>
		<li>Plan</li>
		<li>Provision</li>
		<li>Cook</li>
	  </ul>
	</div>
</div>